body{
    background: #000000;
}

@font-face {
    font-family: 'Aqum';
    src: local('Arame'), local('Arame'),
      url('../fonts/arame/Arame.woff2') format('woff2'),
      url('../fonts/arame/Arame.woff') format('woff'),
      url('../fonts/arame/Arame.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hack';
    src: local('Hack Bold'), local('Hack-Bold'),
        url('../fonts/hack/Hack-Bold.woff2') format('woff2'),
        url('../fonts/hack/Hack-Bold.woff') format('woff'),
        url('../fonts/hack/Hack-Bold.ttf') format('truetype');
        font-weight: normal;
    font-style: normal;
  }

div{
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
    left: 30%;
    top: 50%;
    font-size: 32px;
}

.info{
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    left: 50%;
    top: 95%;
    font-size: 24px;
}

A{
    color: #fff !important;
    font-family: 'Aqum';
}

.name{
    color: #fff !important;
    font-family: 'Hack';
    font-size: 48px;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    left: 50%;
    top: -1%;
}

img{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 80%;
    top: 50%;
}