body{
    background: #000000;
}

.settings{
    border: white;
    border-style: solid;
    -moz-box-sizing: border-box; /* Firefox Support */  
    box-sizing: border-box;
    width: 500px; /* Ширина блока */
    padding: 10px; /* Поля */
    color: #fff !important;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
    left: 50%;
    top: 25%;
}
@font-face {
    font-family: 'Hack';
    src: local('Hack Bold'), local('Hack-Bold'),
        url('./resources/hack/Hack-Bold.woff2') format('woff2'),
        url('./resources/hack/Hack-Bold.woff') format('woff'),
        url('./resources/hack/Hack-Bold.ttf') format('truetype');
        font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aqum';
    src: local('Arame'), local('Arame'),
      url('./resources/arame/Arame.woff2') format('woff2'),
      url('./resources/arame/Arame.woff') format('woff'),
      url('./resources/arame/Arame.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Pusia';
    src: local('Pusia Bold'), local('Pusia-Bold'),
      url('./resources/pusia/Pusia-Bold.otf') format('opentype'),
      url('./resources/pusia/Pusia-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/*
@font-face {
    font-family: 'LilitaOne';
    src: local('Lilita One Regular'), local('Lilita-One-Regular'),
        url('./resources/lilitaone/LilitaOne.woff2') format('woff2'),
        url('./resources/lilitaone/LilitaOne.woff') format('woff'),
        url('./resources/lilitaone/LilitaOne.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  */
  /*
  @font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    src: url(./resources/lilitaone/LilitaOne.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  */